@import url("https://fonts.googleapis.com/css?family=Raleway:400,800");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Hind:300,400&display=swap");
:root {
  --color-background:#0F131C;
  --color-scroll:#e5eeff;
  --color-heading:#ffffff;
  --color-textShadow:#fff;
  --color-textShadow-2:rgba(255, 255, 255, 0.204);
  --color-speaker:#ffffff;
  --color-navbg:#e5eeff;
  --color-faq:#7288a2;
  --color-tier: white;
  --pink: #e5eeff;
  --white: #323438; }
  :root .label__dark:after {
    background-image: url("./../../img/sun.svg"); }

html[data-theme='light'] {
  --color-background:#e5eeff;
  --color-heading:#1D2026;
  --color-scroll:#1D2026;
  --color-textShadow:#1d2026c1;
  --color-textShadow-2:#1d202657;
  --color-speaker:#1d2026;
  --color-faq:#323438;
  --color-tier: #424344;
  --white: #e5eeff;
  --pink: #323438; }
  html[data-theme='light'] .label__dark:after {
    background-image: url("./../../img/moon.svg"); }

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 125%;
  overflow-x: hidden; }

body {
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
  font-family: 'Assistant', sans-serif;
  background-color: var(--color-background) !important; }

ul {
  text-decoration: none; }

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0s !important; }

/* width */
::-webkit-scrollbar {
  width: 7px; }

/* Track */
::-webkit-scrollbar-track {
  background: transparent; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c6c2c2; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

h3, h4 {
  margin: 0; }

@font-face {
  font-family: Evolve Sans Evo;
  src: url("./../../css/Evolve/MADE Evolve Sans Bold EVO (PERSONAL USE).otf"); }

@font-face {
  font-family: Evolve Sans;
  src: url("./Evolve/MADE Evolve Sans Bold (PERSONAL USE).otf"); }

@font-face {
  font-family: Stargaze Stencil;
  src: url("./../../css/stargaze/Stargaze Stencil.otf"); }

@font-face {
  font-family: Stargaze;
  src: url("./../../css/stargaze/Stargaze Regular.otf"); }

.cta-button-hero {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3770FF;
  font-size: 1.2rem;
  padding: 0.3rem 2rem;
  height: 44px;
  width: 212px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s; }
  .cta-button-hero img {
    height: 120% !important; }
  .cta-button-hero:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 1rem var(--color-textShadow-2); }

.center {
  display: flex;
  align-items: center;
  justify-content: center; }

button.fancy {
  -webkit-appearance: button;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  float: right;
  letter-spacing: .05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: .25rem 2rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all .3s ease-in-out;
  user-select: none;
  width: 15rem; }
  button.fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: background 0.3s linear, width 0.3s linear;
    transition: background 0.3s linear, width 0.3s linear; }
  button.fancy a {
    font-family: Evolve Sans Evo;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.33333rem;
    padding-left: 2rem;
    display: block;
    text-align: left;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;
    text-decoration: none;
    color: white; }
  button.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: white;
    -webkit-transition: width 0.5s ease-out, left 0.3s ease-out;
    transition: width 0.5s ease-out, left 0.3s ease-out; }
  button.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: white;
    -webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
    transition: width 0.5s ease-out, right 0.3s ease-out; }
  button.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: white;
    -webkit-transition: width 0.5s ease-out, right 0.3s ease-out;
    transition: width 0.5s ease-out, right 0.3s ease-out; }
  button.fancy:hover {
    color: white;
    background: black; }
    button.fancy:hover::before {
      width: 0.9375rem;
      background: white; }
    button.fancy:hover a {
      color: white;
      padding-left: 1.5em; }
    button.fancy:hover .top-key {
      left: -2px;
      width: 0px; }
    button.fancy:hover .bottom-key-1,
    button.fancy:hover .bottom-key-2 {
      right: 0;
      width: 0; }

.cta-button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column; }
  .cta-button2 a {
    width: 100%;
    width: 15rem;
    height: 54px;
    padding: 8px;
    font-size: 0.8rem;
    font-weight: 900;
    color: #323438;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 0 1px inset rgba(229, 238, 255, 0.3);
    position: relative;
    margin: 10px 0; }
    .cta-button2 a.white:hover > p {
      color: #e5eeff; }
    .cta-button2 a.white > p {
      background: #e5eeff;
      color: #0f1923; }
      .cta-button2 a.white > p span.base {
        border: 1px solid transparent; }
    .cta-button2 a.transparent:hover > p {
      color: #e5eeff; }
      .cta-button2 a.transparent:hover > p span.text {
        box-shadow: 0 0 0 1px #e5eeff; }
    .cta-button2 a.transparent > p {
      background: #0f1923;
      color: #e5eeff; }
      .cta-button2 a.transparent > p span.base {
        border: 1px solid #e5eeff; }
    .cta-button2 a:after, .cta-button2 a:before {
      content: "";
      width: 1px;
      position: absolute;
      height: 8px;
      background: #0f1923;
      left: 0;
      top: 50%;
      transform: translateY(-50%); }
    .cta-button2 a:before {
      right: 0;
      left: initial; }
    .cta-button2 a p {
      margin: 0;
      height: 54px;
      line-height: 54px;
      box-sizing: border-box;
      z-index: 1;
      left: 0;
      width: 100%;
      position: relative;
      overflow: hidden; }
      .cta-button2 a p span.base {
        box-sizing: border-box;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        left: 0;
        border: 1px solid black; }
        .cta-button2 a p span.base:before {
          content: "";
          width: 2px;
          height: 2px;
          left: -1px;
          top: -1px;
          background: #0f1923;
          position: absolute;
          transition: 0.3s ease-out all; }
      .cta-button2 a p span.bg {
        left: -5%;
        position: absolute;
        background: #323438;
        width: 0;
        height: 100%;
        z-index: 3;
        transition: 0.3s ease-out all;
        transform: skewX(-10deg); }
      .cta-button2 a p span.text {
        z-index: 4;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0; }
        .cta-button2 a p span.text:after {
          content: "";
          width: 4px;
          height: 4px;
          right: 0;
          bottom: 0;
          background: #0f1923;
          position: absolute;
          transition: 0.3s ease-out all;
          z-index: 5; }
    .cta-button2 a:hover {
      color: #e5eeff; }
      .cta-button2 a:hover span.bg {
        width: 110%; }
      .cta-button2 a:hover span.text:after {
        background: #e5eeff; }

.heading-secondary {
  font-family: Stargaze Stencil;
  font-size: 3rem;
  line-height: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #0F131C, #323438);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }
  .heading-secondary--white {
    color: var(--color-heading); }

.heading-tertiary {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase; }

.darktheme {
  z-index: 5000;
  box-sizing: border-box;
  position: fixed;
  top: 85%;
  left: 95%; }
  .darktheme__container input {
    position: relative; }
  .darktheme__sun {
    color: #FDB813; }
  .darktheme__moon {
    color: #F5F3CE; }

.input__dark[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden; }

.label__dark {
  z-index: 1;
  cursor: pointer;
  text-indent: -9999px;
  width: 1.7rem;
  height: 1.7rem;
  background: #8ce2fa;
  background: #00ffd0;
  display: block;
  border-radius: 50%;
  position: relative; }

.label__dark:after {
  z-index: 10;
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
  height: 1.5rem;
  background: #fff;
  border-radius: 90px;
  transition: 0.5s;
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat; }

.input__dark:checked + .label__dark {
  background-color: #5AA2E5; }

.input__dark:checked + .label__dark:after {
  left: calc(100% - 1.3px);
  transform: translateY(-50%) translateX(-100%); }

.label__dark:active:after {
  width: 0.1rem; }

.engine__img {
  position: absolute; }

#loading {
  opacity: 1;
  transition: opacity 0.5s linear;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  background: #1d2026;
  z-index: 100000000;
  text-align: center; }
  #loading html {
    -webkit-font-smoothing: antialiased; }
  #loading .preloader {
    overflow: hidden !important;
    min-height: 100vh;
    width: 100vw;
    z-index: 100000;
    font-family: Roboto, Arial;
    color: #ADAFB6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F131C;
    position: absolute;
    transition: all 0.5s; }
    #loading .preloader .boxes {
      --size: 32px;
      --duration: 800ms;
      height: calc(var(--size) * 2);
      width: calc(var(--size) * 3);
      position: relative;
      transform-style: preserve-3d;
      transform-origin: 50% 50%;
      margin-top: calc(var(--size) * 1.5 * -1);
      transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px); }
      #loading .preloader .boxes .box {
        width: var(--size);
        height: var(--size);
        top: 0;
        left: 0;
        position: absolute;
        transform-style: preserve-3d; }
        #loading .preloader .boxes .box:nth-child(1) {
          transform: translate(100%, 0);
          animation: box1 var(--duration) linear infinite; }
        #loading .preloader .boxes .box:nth-child(2) {
          transform: translate(0, 100%);
          animation: box2 var(--duration) linear infinite; }
        #loading .preloader .boxes .box:nth-child(3) {
          transform: translate(100%, 100%);
          animation: box3 var(--duration) linear infinite; }
        #loading .preloader .boxes .box:nth-child(4) {
          transform: translate(200%, 0);
          animation: box4 var(--duration) linear infinite; }
        #loading .preloader .boxes .box > div {
          --background: #5C8DF6;
          --top: auto;
          --right: auto;
          --bottom: auto;
          --left: auto;
          --translateZ: calc(var(--size) / 2);
          --rotateY: 0deg;
          --rotateX: 0deg;
          position: absolute;
          width: 100%;
          height: 100%;
          background: var(--background);
          top: var(--top);
          right: var(--right);
          bottom: var(--bottom);
          left: var(--left);
          transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ)); }
          #loading .preloader .boxes .box > div:nth-child(1) {
            --top: 0;
            --left: 0; }
          #loading .preloader .boxes .box > div:nth-child(2) {
            --background: #145af2;
            --right: 0;
            --rotateY: 90deg; }
          #loading .preloader .boxes .box > div:nth-child(3) {
            --background: #447cf5;
            --rotateX: -90deg; }
          #loading .preloader .boxes .box > div:nth-child(4) {
            --background: rgba(0, 128, 255, 0.067);
            --top: 0;
            --left: 0;
            --translateZ: calc(var(--size) * 3 * -1); }

@keyframes box1 {
  0%,
  50% {
    transform: translate(100%, 0); }
  100% {
    transform: translate(200%, 0); } }

@keyframes box2 {
  0% {
    transform: translate(0, 100%); }
  50% {
    transform: translate(0, 0); }
  100% {
    transform: translate(100%, 0); } }

@keyframes box3 {
  0%,
  50% {
    transform: translate(100%, 100%); }
  100% {
    transform: translate(0, 100%); } }

@keyframes box4 {
  0% {
    transform: translate(200%, 0); }
  50% {
    transform: translate(200%, 100%); }
  100% {
    transform: translate(100%, 100%); } }
    #loading .preloader__hide {
      opacity: 0;
      pointer-events: none;
      transform: scale(0);
      z-index: -1; }
      #loading .preloader__hide body {
        overflow: hidden; }

.home-section {
  position: relative;
  margin: 0 auto;
  height: 100vh; }

.home__container {
  font-family: Evolve Sans Evo;
  padding-top: 5rem;
  width: auto; }
  .home__container img {
    margin: 0 auto;
    height: 6rem;
    width: 6rem; }
  .home__container--text {
    width: 70%;
    margin: 0 auto; }
    .home__container--text h1 {
      color: var(--color-heading);
      text-align: center;
      font-size: 5rem;
      font-weight: 100;
      text-transform: uppercase;
      position: relative;
      text-shadow: 2px 2px 100px var(--color-textShadow); }
      .home__container--text h1 span {
        text-shadow: 1px 1px 100px #ffffff; }
      .home__container--text h1 sup {
        position: absolute;
        font-size: 2rem;
        text-shadow: 0px 1px 100px #ffffff; }
    .home__container--text p {
      width: 80%;
      margin-bottom: 1rem;
      margin-top: 0.5rem;
      padding: 0.3rem 0;
      text-align: right; }

.home__button {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  margin: 2rem auto; }

.home__scroll {
  font-family: 'FontAwesome';
  font-style: normal !important;
  color: var(--color-scroll);
  height: 2.5rem;
  width: 2.5rem; }
  .home__scroll i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 93%;
    animation-name: scrollBottom;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite;
    animation-fill-mode: forwards; }

@keyframes scrollBottom {
  0% {
    opacity: 0; }
  10% {
    transform: translate(-50%, -30%);
    opacity: 1; }
  100% {
    transform: translate(-50%, 2%);
    opacity: 0; } }

.new_footer_area {
  background: #e5eeff; }

.new_footer_top {
  padding: 120px 0px 270px;
  position: relative;
  overflow-x: hidden; }

.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px; }

.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding: 27px 0px; }

.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6a7695;
  margin-bottom: 20px; }

.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px; }

.btn_get_two:hover {
  background: transparent;
  color: #5AA2E5; }

.btn_get:hover {
  color: #fff;
  background: #6754e2;
  border-color: #6754e2;
  -webkit-box-shadow: none;
  box-shadow: none; }

a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
  text-decoration: none;
  outline: none; }

.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #5AA2E5; }

.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px; }

.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px; }

.f_widget.about-widget .f_list li {
  margin-bottom: 15px; }

.f_widget.about-widget .f_list {
  margin-bottom: 0px; }

.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #b8b8bb;
  font-size: 24px; }

.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none; }

.ti-facebook:before {
  content: "\e741"; }

.ti-twitter-alt:before {
  content: "\e74b"; }

.ti-vimeo-alt:before {
  content: "\e74a"; }

.fa-envelope:before {
  content: "\2709" !important; }

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #5AA2E5;
  border-color: #5AA2E5;
  color: #fff; }

.btn_get_two:hover {
  background: transparent;
  color: #5AA2E5; }

.new_footer_top .f_social_icon a:hover {
  background: #5AA2E5;
  border-color: #5AA2E5;
  color: white; }

.new_footer_top .f_social_icon a + a {
  margin-left: 4px; }

.new_footer_top .f-title {
  margin-bottom: 30px;
  color: #263b5e; }

.f_600 {
  font-weight: 600; }

.f_size_18 {
  font-size: 18px; }

.new_footer_top .f_widget.about-widget .f_list li a {
  color: #6a7695; }

.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
  width: 100%;
  height: 266px; }

.new_footer_top .footer_bg .footer_bg_one {
  background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") no-repeat center center;
  width: 330px;
  height: 105px;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite; }

.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif") no-repeat center center;
  width: 88px;
  height: 100px;
  background-size: 100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite; }

@-moz-keyframes myfirst {
  0% {
    left: -25%; }
  100% {
    left: 100%; } }

@-webkit-keyframes myfirst {
  0% {
    left: -25%; }
  100% {
    left: 100%; } }

@keyframes myfirst {
  0% {
    left: -25%; }
  100% {
    left: 100%; } }

.footer__container {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: center; }

.footer__row--img img {
  height: 6rem;
  width: 6rem; }

.footer__row--text h1 {
  color: #0F131C;
  font-family: Evolve Sans Evo;
  text-transform: uppercase;
  font-size: 2rem;
  margin: 0%;
  padding: 0%; }

.footer__row--1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center; }

.prize--section {
  margin-top: 5rem;
  text-align: center;
  padding-bottom: 5rem;
  position: relative;
  background-image: url("./../../img/confettin-bg-2.svg");
  background-size: cover;
  background-repeat: repeat; }

.prize__container {
  background-image: url("./../../img/confettin-bg-2.svg");
  background-size: cover;
  background-repeat: repeat;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem; }

.prize__card {
  margin: 1rem;
  transition: all 0.3s; }
  .prize__card figure.snip1104 {
    font-family: "Raleway", Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    width: 100%;
    width: 14rem;
    height: 10rem;
    background: #000000;
    color: #ffffff;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(99, 99, 99, 0.163); }
  .prize__card figure.snip1104 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .prize__card figure.snip1104 img {
    max-width: 100%;
    position: relative;
    opacity: 0.4;
    width: 16rem;
    height: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .prize__card figure.snip1104 figcaption {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .prize__card figure.snip1104 h2 {
    position: absolute;
    left: 40px;
    right: 40px;
    display: inline-block;
    background: #000000;
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%) scale(0.9);
    transform: skew(-10deg) rotate(-10deg) translate(0, -50%) scale(0.9);
    padding: 12px 5px;
    margin: 0;
    top: 50%;
    font-weight: 400; }
  .prize__card figure.snip1104 h2 span {
    font-weight: 800; }
  .prize__card .beginner {
    font-size: 1.2rem; }
  .prize__card .beginner span:nth-child(2) {
    font-size: 2rem; }
  .prize__card figure.snip1104:before {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: "";
    background: #ffffff;
    position: absolute;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: rotate(110deg) translateY(-50%);
    transform: rotate(110deg) translateY(-50%);
    transform-origin: center; }
  .prize__card figure.snip1104 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1; }
  .prize__card figure.snip1104.blue {
    border-radius: 10px;
    background: #123851; }
  .prize__card figure.snip1104.blue h2 {
    background: #0a212f; }
  .prize__card figure.snip1104.red {
    background: #581a14; }
  .prize__card figure.snip1104.red h2 {
    background: #36100c; }
  .prize__card figure.snip1104.yellow {
    background: #7f5006; }
  .prize__card figure.snip1104.yellow h2 {
    background: #583804; }
  .prize__card figure.snip1104:hover img,
  .prize__card figure.snip1104.hover img {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1.02);
    transform: scale(1.02) translate(-50%, -50%); }
  .prize__card figure.snip1104:hover h2,
  .prize__card figure.snip1104.hover h2 {
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%) scale(1);
    transform: skew(-10deg) rotate(-10deg) translate(0, -50%) scale(1); }
  .prize__card figure.snip1104:hover:before,
  .prize__card figure.snip1104.hover:before {
    -webkit-transform: rotate(110deg) translateY(-150%);
    transform: rotate(110deg) translateY(-150%); }

.flip {
  box-sizing: border-box;
  font-family: "Rajdhani",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,sans-serif;
  box-shadow: 0px 0px 10px rgba(99, 99, 99, 0.163);
  position: relative; }
  .flip > .front,
  .flip > .back {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 1s;
    transition-property: transform, opacity; }
  .flip > .front {
    transform: rotateY(0deg); }
  .flip > .back {
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg); }
  .flip:hover > .front {
    transform: rotateY(180deg); }
  .flip:hover > .back {
    opacity: 1;
    transform: rotateY(0deg); }
  .flip.flip-vertical > .back {
    transform: rotateX(-180deg); }
  .flip.flip-vertical:hover > .front {
    transform: rotateX(180deg); }
  .flip.flip-vertical:hover > .back {
    transform: rotateX(0deg); }

.flip {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
  width: 14rem; }
  .flip > .front,
  .flip > .back {
    display: flex;
    color: white;
    width: inherit;
    background-size: cover !important;
    background-position: center !important;
    height: 16rem;
    padding: 1em 1em;
    background: #123851;
    border-radius: 10px; }
    .flip > .front h1,
    .flip > .back h1 {
      text-align: center;
      margin-top: 0rem;
      margin-bottom: 1.2rem; }
    .flip > .front p,
    .flip > .back p {
      font-size: 0.8rem;
      line-height: 1.2;
      color: white;
      font-weight: 400;
      margin-bottom: 1rem; }
      .flip > .front p span,
      .flip > .back p span {
        font-size: 0.8rem;
        font-weight: 700; }
    .flip > .front img,
    .flip > .back img {
      width: 90%;
      -webkit-filter: drop-shadow(5px 5px 5px #222);
      filter: drop-shadow(5px 5px 5px #222); }
  .flip .teda_hai {
    position: absolute;
    left: 40px;
    right: 40px;
    display: inline-block;
    background: #0a212f;
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    padding: 12px 5px;
    margin: 0;
    top: 50%;
    font-size: 1.8rem;
    font-weight: 400; }

.text-shadow {
  text-shadow: 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04); }

.speaker--section {
  text-align: center; }

.speaker__container {
  margin-bottom: 3rem;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .speaker__container .teda_hai {
    display: inline-block;
    background: #0a212f;
    -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
    padding: 12px 5px;
    width: 15rem;
    margin-top: 3rem;
    font-size: 1.8rem;
    font-weight: 400; }
  .speaker__container--card {
    width: 15.5rem;
    height: 8rem;
    margin: 0.7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1.1rem; }
    .speaker__container--card h3 {
      font-size: 0.8rem; }
    .speaker__container--card h4 {
      font-size: 0.5rem; }

.speaker__img {
  height: 6rem;
  width: 6rem; }
  .speaker__img img {
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    background-color: #f7bf77; }

.speaker__details {
  text-align: left;
  height: 75%;
  text-transform: capitalize; }
  .speaker__details h3 {
    font-size: 1.1rem;
    color: #fff;
    color: var(--color-heading) !important; }
  .speaker__details h4 {
    color: #fff;
    color: var(--color-heading) !important;
    font-size: 0.7rem;
    margin: -0.2rem 0 0 0; }

.speaker__links {
  display: flex;
  justify-content: flex-start;
  font-size: .4rem;
  text-align: center; }

.speaker__link {
  height: 1rem;
  width: 1rem;
  background-color: var(--color-heading);
  border-radius: 50%;
  margin: 0.1rem 0.5rem 0 0; }

.faq__container {
  margin: 0 auto;
  padding: 4rem;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .faq__container .header-secondary {
    text-align: center;
    color: var(--color-heading) !important; }

.accordion .accordion-item {
  border-bottom: 1px solid var(--color-faq); }
  .accordion .accordion-item button[aria-expanded='true'] {
    border-bottom: 1px solid #03b5d2; }

.accordion .accordion-button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1rem 2rem 1rem 0rem;
  color: var(--color-faq);
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none; }
  .accordion .accordion-button:hover, .accordion .accordion-button:focus {
    cursor: pointer;
    color: #03b5d2; }
    .accordion .accordion-button:hover::after, .accordion .accordion-button:focus::after {
      cursor: pointer;
      color: #03b5d2;
      border: 1px solid #03b5d2; }
  .accordion .accordion-button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px; }
    .accordion .accordion-button .icon::before {
      display: block;
      position: absolute;
      content: '';
      top: 9px;
      left: 5px;
      width: 10px;
      height: 2px;
      background: currentColor; }
    .accordion .accordion-button .icon::after {
      display: block;
      position: absolute;
      content: '';
      top: 5px;
      left: 9px;
      width: 2px;
      height: 10px;
      background: currentColor; }

.accordion button[aria-expanded='true'] {
  color: #03b5d2; }
  .accordion button[aria-expanded='true'] .icon::after {
    width: 0; }
  .accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 20em;
    transition: all 200ms linear;
    will-change: opacity, max-height; }

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height; }
  .accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 1em 0;
    color: var(--color-heading); }

.team--section, .sponsor--section {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.team__heading, .sponsor__heading {
  margin: 0 auto; }

.team__container, .sponsor__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.5rem; }
  .team__container .tier-heading, .sponsor__container .tier-heading {
    margin-top: 2rem;
    display: block;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 900;
    line-height: 0;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    color: var(--color-tier); }
    .team__container .tier-heading__small, .sponsor__container .tier-heading__small {
      margin-top: 1rem;
      text-align: center;
      display: block;
      font-size: 1.6rem;
      font-weight: 900;
      letter-spacing: 0.2rem;
      text-transform: uppercase;
      color: var(--color-tier); }

.team__row, .sponsor__row {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding-bottom: 1.2rem; }

.team__row2, .sponsor__row2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 1.2rem; }

.team__column, .sponsor__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.team__card, .sponsor__card {
  height: 23rem;
  width: 18rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #0F131C;
  margin: 0.8rem;
  transition: all 0.5s;
  border-radius: 2px; }
  .team__card-img, .sponsor__card-img {
    margin: 1rem; }
    .team__card-img img, .sponsor__card-img img {
      border-radius: 100%;
      height: 11rem;
      width: 11rem;
      object-fit: cover; }
  .team__card-details, .sponsor__card-details {
    margin: 1rem; }
    .team__card-details h4, .sponsor__card-details h4 {
      color: white;
      font-family: 'Poppins';
      font-size: 1.1rem; }
    .team__card-details h6, .sponsor__card-details h6 {
      color: white;
      font-family: 'Poppins';
      font-size: 0.9rem;
      margin: 0.6rem; }
  .team__card--links, .sponsor__card--links {
    margin: 1rem; }
    .team__card--links > *, .sponsor__card--links > * {
      margin: 0.4rem;
      font-size: 1.7rem;
      color: white; }
  .team__card:hover, .sponsor__card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transform: scale(1.1); }

.sponsor__card {
  height: 6rem;
  max-height: fit-content;
  width: 20rem;
  background-color: white;
  border-radius: 5px; }
  .sponsor__card img {
    width: 16rem; }
  .sponsor__card.noback {
    background-color: transparent;
    width: fit-content;
    margin-top: 2rem;
    height: 8rem; }
    .sponsor__card.noback img {
      width: 8rem;
      border-radius: 5px; }

.team__heading {
  margin-bottom: 3rem !important;
  margin-top: 6rem !important; }

@media only screen and (max-width: 768px) {
  html {
    font-size: 12px !important; } }

.theme__item {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
  height: 12.1rem;
  width: 12.1rem;
  z-index: 1000; }
  .theme__item--details {
    height: 11rem;
    width: 11rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    background-color: rgba(39, 36, 36, 0.503);
    opacity: 0;
    transition: all 0.4s; }
    .theme__item--details h4 {
      width: 100%;
      color: white;
      font-family: Evolve Sans;
      font-size: 1.5rem;
      z-index: 2000;
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .theme__item--details:hover {
      opacity: 1; }
  .theme__item--img {
    background-color: white;
    height: 12.1rem;
    width: 12.1rem;
    position: relative;
    border-radius: 2px; }
    .theme__item--img img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover; }
  .theme__item::before, .theme__item::after {
    background-image: linear-gradient(-180deg, #A1DEFF 0%, #5EA3DB 97%);
    content: '';
    height: 12rem;
    width: 12rem;
    position: absolute;
    left: 3%;
    top: 3%;
    transition: all .2s;
    transition-delay: .2s;
    transform: translateY(0px) translateX(0px);
    z-index: -1;
    border-radius: 2px; }
  .theme__item::after {
    background-image: linear-gradient(0deg, #FFCF70 0%, #FFAE3D 97%);
    position: absolute;
    left: -3%;
    top: -3%; }
  .theme__item:hover {
    animation-name: hoverPop;
    animation-duration: .4s;
    animation-fill-direction: forward; }
    .theme__item:hover img {
      box-shadow: 2px 2px 4px 0px rgba(10, 12, 15, 0.27);
      box-shadow: 0px 0px 30px 0px rgba(10, 12, 15, 0.27); }
    .theme__item:hover::before {
      animation: slick-hover-2 3s .4s linear infinite;
      transform: translateY(-20px) translateX(-20px); }
    .theme__item:hover::after {
      animation: slick-hover 3s .4s linear infinite reverse;
      transform: translateY(20px) translateX(20px); }
  .theme__item--2 {
    align-items: center;
    background-color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    height: 12.1rem;
    width: 24.1rem;
    z-index: 1000;
    border-radius: 2px; }
    .theme__item--2--details {
      height: 10rem;
      width: 22rem;
      background-color: rgba(39, 36, 36, 0.503);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0; }
      .theme__item--2--details h4 {
        width: 100%;
        color: white;
        font-family: Evolve Sans;
        font-size: 1.5rem;
        z-index: 2000;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .theme__item--2--details:hover {
        opacity: 1; }
    .theme__item--2 img {
      background-color: white;
      object-fit: cover;
      height: 12rem;
      width: 24rem; }
    .theme__item--2::before, .theme__item--2::after {
      background-image: linear-gradient(-180deg, #A1DEFF 0%, #5EA3DB 97%);
      content: '';
      height: 12rem;
      width: 24rem;
      position: absolute;
      transition: all .2s;
      transition-delay: .2s;
      transform: translateY(0px) translateX(0px);
      left: -3%;
      top: -3%;
      z-index: -1;
      border-radius: 2px; }
    .theme__item--2::after {
      background-image: linear-gradient(0deg, #FFCF70 0%, #FFAE3D 97%);
      left: 3%;
      top: 3%; }
    .theme__item--2:hover {
      animation-name: hoverPop;
      animation-duration: .4s;
      animation-fill-direction: forward; }
      .theme__item--2:hover img {
        box-shadow: 2px 2px 4px 0px rgba(10, 12, 15, 0.27);
        box-shadow: 0px 0px 30px 0px rgba(10, 12, 15, 0.27); }
      .theme__item--2:hover::before {
        animation: slick-hover-2 3s .4s linear infinite;
        transform: translateY(-20px) translateX(-20px); }
      .theme__item--2:hover::after {
        animation: slick-hover 3s .4s linear infinite reverse;
        transform: translateY(20px) translateX(20px); }

@keyframes hoverPop {
  0%, 100% {
    transform: scale(1); }
  33% {
    transform: scale(1.05); }
  66% {
    transform: scale(0.9); } }

@keyframes slick-hover {
  0.00% {
    transform: translateY(20px) translateX(20px); }
  16.67% {
    transform: translateY(-13px) translateX(-9px); }
  33.33% {
    transform: translateY(4px) translateX(12px); }
  50.00% {
    transform: translateY(20px) translateX(-20px); }
  66.67% {
    transform: translateY(-3px) translateX(8px); }
  83.33% {
    transform: translateY(-15px) translateX(-11px); }
  100.00% {
    transform: translateY(20px) translateX(20px); } }

@keyframes slick-hover-2 {
  0.00% {
    transform: translateY(-20px) translateX(-20px); }
  16.67% {
    transform: translateY(3px) translateX(-5px); }
  33.33% {
    transform: translateY(18px) translateX(-10px); }
  50.00% {
    transform: translateY(-20px) translateX(20px); }
  66.67% {
    transform: translateY(15px) translateX(-4px); }
  83.33% {
    transform: translateY(-1px) translateX(15px); }
  100.00% {
    transform: translateY(-20px) translateX(-20px); } }

.navigation__nav {
  position: fixed;
  z-index: 99999;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  background-color: #0F131C;
  clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%); }
  .navigation__nav ul {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    padding: 0 20px; }

.navigation__item {
  list-style: none;
  align-self: center;
  transition: all 1s; }
  .navigation__item a {
    text-decoration: none;
    animation: widthInc 0.6s forwards;
    width: 0%;
    text-transform: uppercase;
    font-family: Evolve Sans;
    font-size: 14.12px; }
  .navigation__item:hover a {
    width: 100%;
    opacity: 1; }
  .navigation__item--home a {
    font-size: 40px;
    fill: white; }
    .navigation__item--home a img {
      height: 50px;
      width: 50px; }
  .navigation__item--home a::after {
    visibility: hidden; }

@keyframes widthInc {
  0% {
    width: 0%; }
  100% {
    width: 100%; } }

.navigation__item a {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: #e5eeff; }
  .navigation__item a::after {
    content: "";
    background: rgba(229, 238, 255, 0.25);
    position: absolute;
    left: 12px;
    bottom: -6px;
    width: calc(100% - 8px);
    height: calc(100% - 14px);
    z-index: -1;
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05); }
  .navigation__item a:hover:after {
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 100%; }

@media only screen and (max-width: 768px) {
  .nav-respo {
    box-sizing: border-box;
    display: block !important; }
    .nav-respo .menu {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.15s linear;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 100%;
      display: flex;
      z-index: 99999;
      position: fixed;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.85);
      -webkit-tap-highlight-color: transparent; }
      .nav-respo .menu--open {
        visibility: visible;
        opacity: 1; }
      .nav-respo .menu ul {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 44rem;
        padding: 0 1rem;
        list-style: none;
        font-size: 2rem; }
        .nav-respo .menu ul li a {
          font-family: Stargaze Stencil;
          font-size: 2rem;
          line-height: 5rem;
          text-transform: uppercase;
          display: inline-block;
          color: white;
          letter-spacing: .2rem;
          transition: all .2s;
          text-decoration: none; }
    .nav-respo .btn {
      z-index: 999999;
      margin: 2px 2px 2px 2px;
      width: 4rem;
      height: 3rem;
      display: flex;
      align-items: center;
      background: #2020207e;
      justify-content: space-evenly;
      position: fixed;
      top: 0.3rem;
      right: 0.3rem;
      border: 0;
      border-radius: 10%;
      padding: 1.6rem 0.5rem;
      cursor: pointer; }
      .nav-respo .btn:focus {
        outline: 0; }
    .nav-respo .btn-hamburger .line {
      position: relative;
      transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
      .nav-respo .btn-hamburger .line, .nav-respo .btn-hamburger .line::before, .nav-respo .btn-hamburger .line::after {
        width: 100%;
        height: 6px;
        background-color: white; }
      .nav-respo .btn-hamburger .line::before, .nav-respo .btn-hamburger .line::after {
        content: "";
        position: absolute;
        left: 0;
        transition: inherit; }
      .nav-respo .btn-hamburger .line::before {
        top: -12px; }
      .nav-respo .btn-hamburger .line::after {
        bottom: -12px; }
    .nav-respo .btn-hamburger.open .line {
      transform: rotate(-45deg);
      background-color: transparent; }
      .nav-respo .btn-hamburger.open .line::before {
        transform: translateY(12px);
        background-color: #5AA2E5; }
      .nav-respo .btn-hamburger.open .line::after {
        transform: translateY(-12px) rotate(90deg);
        background-color: #5AA2E5; } }

.stop-scrolling {
  overflow-y: hidden; }

.teamSponsor--section {
  width: 70%;
  margin: 0 auto; }

.teamSponsor__team, .teamSponsor__sponsors {
  position: relative;
  margin: 3rem;
  display: flex;
  justify-content: space-between;
  height: 10rem; }
  .teamSponsor__team--text, .teamSponsor__sponsors--text {
    flex-basis: 70%;
    padding: 2rem; }
    .teamSponsor__team--text p, .teamSponsor__sponsors--text p {
      color: white; }
    .teamSponsor__team--text > *, .teamSponsor__sponsors--text > * {
      margin: 0;
      margin-bottom: 1.5rem; }
  .teamSponsor__team a, .teamSponsor__sponsors a {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 2.7rem;
    width: 2.7rem;
    background-color: #fff;
    border-radius: 50%;
    box-sizing: content-box;
    border: 7px solid rgba(46, 107, 209, 0.5);
    transition: all 0.4s; }
    .teamSponsor__team a:hover, .teamSponsor__sponsors a:hover {
      border: 5px solid rgba(46, 107, 209, 0.5);
      box-shadow: 2px 0px 15px rgba(255, 255, 255, 0.66); }
    .teamSponsor__team a i, .teamSponsor__sponsors a i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .teamSponsor__team--img, .teamSponsor__sponsors--img {
    position: relative; }
    .teamSponsor__team--img img, .teamSponsor__sponsors--img img {
      height: 10rem; }

.teamSponsor__team {
  background-color: #b24afc; }
  .teamSponsor__team a {
    border: 7px solid rgba(178, 74, 252, 0.5);
    transition: all 0.4s; }
    .teamSponsor__team a:hover {
      border: 5px solid rgba(178, 74, 252, 0.5);
      box-shadow: 2px 0px 15px rgba(255, 255, 255, 0.66); }

.teamSponsor__sponsors {
  background-color: #3E8FE0; }

.hero {
  position: absolute;
  left: 68%; }

.about-section {
  position: relative;
  clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 90%);
  transform: scaleZ(1);
  width: 100vw;
  background-color: #e5eeff;
  margin-top: 4rem;
  margin-bottom: 1rem;
  text-align: center; }
  .about-section h1 {
    margin-top: 4rem;
    margin-bottom: 0; }

.about__container {
  position: relative;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem; }
  .about__container--text {
    width: 80%;
    margin: 0 2rem;
    text-align: center;
    font-family: 'Assistant';
    font-size: 1.1rem;
    font-weight: 600;
    color: #51555E; }
    .about__container--text p {
      margin-bottom: 0; }

.about__img {
  height: 15rem; }
  .about__img img {
    width: 10rem;
    height: 100%; }

.about__background {
  position: absolute;
  top: 0%;
  left: 72%;
  height: 50rem;
  width: 50rem;
  opacity: 0.6;
  filter: grayscale(0%); }
  .about__background img {
    height: 50rem;
    width: 50rem; }

.theme--section {
  background-image: url("./../../img/confettin-bg-2.svg");
  background-size: cover;
  background-repeat: repeat;
  text-align: center; }

.theme__container {
  width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .theme__container--card {
    margin: 1rem; }
    .theme__container--card--2 {
      flex-grow: 20%; }

.statistic-section {
  padding-bottom: 11rem;
  width: 100%; }
  .statistic-section .container {
    padding: 1rem;
    border: 6px solid; }
  .statistic-section .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; }
  .statistic-section .text-center {
    text-align: center !important; }
  .statistic-section .col-xs-12 {
    position: relative;
    width: 25%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px; }
  .statistic-section .count-title {
    font-size: 50px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    color: #51555E; }
  .statistic-section .stats-text {
    font-size: 15px;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 0;
    text-align: center;
    color: #51555E;
    text-transform: uppercase;
    font-weight: bold; }
  .statistic-section .stats-line-black {
    margin: 12px auto 0;
    width: 55px;
    height: 2px;
    background-color: #51555E; }
  .statistic-section .stats-icon {
    font-size: 35px;
    margin: 0 auto;
    float: none;
    display: table;
    color: #51555E; }
  .statistic-section .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .statistic-section .fa-2x {
    font-size: 2em; }

@media (max-width: 992px) {
  .counter {
    margin-bottom: 40px; }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; } }

.nav-respo {
  display: none; }

@media only screen and (max-width: 768px) {
  html {
    font-size: 75%;
    width: 100%; }
  body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-x: hidden; }
  div[class$="__container"] {
    margin-top: 2rem; }
  .navigation {
    display: none; }
  .home__container {
    padding-top: 3rem; }
    .home__container h1 {
      text-align: center;
      font-size: 3.5rem; }
    .home__container--text p {
      font-size: 1.3rem;
      width: 80%;
      margin: -1rem 0rem 0rem 3rem;
      padding: 0 0 0;
      text-align: right; }
  .home__button {
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    position: absolute;
    bottom: 15vh; }
    .home__button .cta-button-hero {
      text-align: center;
      display: block;
      font-size: 1.8rem; }
    .home__button img {
      height: 108% !important;
      width: 80% !important; }
  .home__scroll i {
    width: 1rem;
    top: 95%; }
  .hero {
    width: 55vw;
    left: 60vw;
    top: -5vh; }
  .countDown__numbers > div {
    width: 23vw !important; }
  .about-section {
    clip-path: unset;
    height: auto; }
    .about-section h1 {
      margin-top: 4rem; }
  .about__background {
    display: none; }
  .about__container--text {
    width: 100%;
    margin: 0 0rem;
    text-align: center;
    font-family: Evolve Sans;
    font-size: 1.2rem;
    font-weight: unset;
    line-height: 150%;
    margin-bottom: 4rem; }
  .theme__container {
    width: 100vw; }
  .theme--card {
    margin-bottom: 2rem; }
  .darktheme {
    left: 85%; }
  .teamSponsor--section {
    width: 100vw;
    margin-top: unset; }
  .teamSponsor__team {
    margin: 0 0 1rem 0; }
    .teamSponsor__team--img {
      height: 8rem;
      width: 20vw; }
    .teamSponsor__team--text {
      padding: 1.2rem;
      height: 8rem; }
      .teamSponsor__team--text > * {
        margin-bottom: 0rem; }
      .teamSponsor__team--text p {
        position: relative;
        line-height: 100%; }
  .teamSponsor__sponsors {
    margin: 2rem 0rem; }
    .teamSponsor__sponsors--img {
      height: 8rem;
      width: 20vw; }
    .teamSponsor__sponsors--text {
      padding: 1.2rem;
      padding-right: 2.2rem;
      height: 8rem; }
      .teamSponsor__sponsors--text > * {
        margin-bottom: 0rem; }
      .teamSponsor__sponsors--text p {
        position: relative;
        line-height: 100%; }
  .heading-tertiary {
    font-size: 2.5rem; }
  .speaker__container {
    margin-top: 0 !important; }
    .speaker__container--card {
      width: 90%; }
  .speaker__details h3 {
    font-size: 1.5rem; }
  .speaker__details h4 {
    font-size: 1.1rem; }
  .accordion .accordion-item {
    width: 80vw; }
    .accordion .accordion-item p {
      margin: unset;
      font-size: 1.1rem; }
  .accordion .accordion-content > p {
    line-height: 1.4;
    padding: 1rem 0rem; }
  .engine__img svg {
    height: 100px;
    width: 100px;
    transform: translateY(3rem); }
  .faq__container {
    padding: unset; }
  .team--section, .sponsor--section {
    font-size: 75%;
    width: 100vw; }
  .team__container, .sponsor__container {
    margin-top: unset !important; }
  .team__heading .heading-secondary, .sponsor__heading .heading-secondary {
    text-align: center;
    line-height: 120%; }
  .team__card-details, .sponsor__card-details {
    width: 15rem; }
    .team__card-details h4, .sponsor__card-details h4 {
      font-size: 1.46rem; }
    .team__card-details h6, .sponsor__card-details h6 {
      font-size: 1.2rem; }
  .team__card--links a, .sponsor__card--links a {
    font-size: 2.26rem; }
  .sponsor--section .cta-button2 a {
    width: 20rem;
    font-size: 1.3rem; }
  .sponsor__card {
    height: 7rem;
    width: fit-content;
    max-width: 25rem;
    min-width: 20rem;
    padding: 0 2rem;
    border-radius: 5px; }
    .sponsor__card.noback {
      min-width: unset;
      padding: unset;
      margin-top: 1rem; }
  .prize--section {
    margin-top: 0rem; }
  .prize__card figure.snip1104 {
    width: 20rem;
    height: 12rem; }
    .prize__card figure.snip1104 img {
      display: none; }
  .prize__card figure.snip1104:before {
    left: -8%;
    width: 125%; }
  .prize__card .beginner {
    font-size: 1.5rem; }
  .prize__card .beginner span:nth-child(2) {
    font-size: 2rem; }
  .prize__container .flip {
    width: 22rem; }
    .prize__container .flip .teda_hai {
      margin-top: 2.2rem !important;
      font-size: 2rem !important;
      line-height: unset; }
    .prize__container .flip .back p {
      font-size: 1.25rem; }
      .prize__container .flip .back p span {
        font-size: 1.4rem; }
    .prize__container .flip .front, .prize__container .flip .back {
      height: 24rem; }
      .prize__container .flip .front img, .prize__container .flip .back img {
        margin-left: 1rem; }
  .prize__container .flip:first-child .back p {
    font-size: 1.2rem; }
  .new_footer_top {
    padding: 10px 0px 200px; } }

@media only screen and (max-width: 480px) {
  .sponsor__card {
    width: 90vw; }
    .sponsor__card img {
      width: 70vw; } }
